.question-tile {
  text-align: center;
}

h1 {
  text-align: center;
}

.Navbar {
  text-align:center;
  margin: 20px;
  background-color: yellow;
}

.yeehaw {
  display: block;
 margin: 0 auto;
}

.new-question {
  text-align: center;
  display: block;
  margin: 0 auto;
}

video {
  width: 100%;
}

.answer-results {
  text-align: center;
}
