<div class="Navbar">
  <!-- <h2 id="title">Mr. Got your Answer</h2> -->
  {{#link-to 'index'}} Home {{/link-to}}


</div>




<div class="container">

  {{outlet}}
</div>

<footer>
&#169; Tal Haberer 2016
</footer>
