<div class="Hero">
  <h1>Mr. Got Your Answer</h1>
  <video class ="video" autoplay loop class="fillWidth">
        <source src="/assets/img/Head-or-Tails.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
  </video>

</div>
<div class="col-md-8 col-md-offset-2 body-col">
  <h1>Browse through Questions</h1>

  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}

  <!-- <hr> -->

  {{new-question question=model saveQuestion="saveQuestion"}}
</div>
