
<div class="col-md-8 col-md-offset-2 body-col">
  <h1>Browse through Questions</h1>

  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}

  <hr>

  {{new-question question=model saveQuestion="saveQuestion"}}
</div>
